.article-card {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
    width: 98%;
    float: left;
    margin: 10px;
    border-radius: 10px;

    &.article-card-alt {
        background-color: #e6e4e1;
        h4{
            color: #000;
            &:after {
                border-color: #3c3834;
                opacity: .6;
            }
        }

        .category, p, p a {
            color: #3c3834;
        }
    }

    .article-card-content {
        width: 90%;
        margin: 22% auto;
    }
    .category {
        color: #e0dad4;
    }
    h4 {
        color: #fff;
        &:after {
            border-color: rgba(255, 255, 255, .6);
        }
    }
    p, .article-card p a {
        font-family: 'Droid Serif', Times, Georgia, serif;
        font-style: italic;
        font-size: 16px;
        color: #e0dad4;
        width: 90%;
        margin: 25px auto 0 aut0;
    }
}

@media only screen and (max-width: 1079px) {
    .cards-container {
        width: 800px;
    }
    .article-card p {
        width: auto;
    }
}

@media only screen and (max-width: 799px) {
    .cards-container {
        width: 80%;
    }
    .article-card {
        width: 95%;
        margin: 2.5% 2.5%;
    }
}

@media only screen and (max-width: 480px) {
    .article-card {
        width: 95%;
        margin: 2.5% 2.5%;
    }
}