/* Header */

header#top {
    background: #fff;
    height: 80px;

    h1.logo a {
        display: inline-block;
        float: left;
        color: #444;
        line-height: 80px;
        margin: 0 0 0 40px;
        height: 74px;

        span {
            color: #b4afa9;
        }
    }

    nav {
        display: inline-block;
        float: right;
        width: auto;
        margin-top: 20px;
        margin-right: 40px;

        ul li {
            display: inline-bock;
            float: left;

            a {
                display: inline-block;
                background: none;
                padding: 10px 15px;
                color: #000;
                font-weight: 500;
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 0.1em;

                &:hover {
                    color: #444;
                }
            }
        }
    }
}

@media only screen and (max-width: 1024px) {
    header#top {
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;

        nav {
            float: none;
            text-align: center;
            width: 100%;
            margin: 20px auto 0 auto;

            ul li {
                float: none;
                font-size: 15px;
            }
        }
    }
    h1.logo {
        a {
            display: block;
            float: none;
            margin: 0 auto;
            text-align: center;
        }
    }
}